* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color:hsl(270, 20%, 96%);
    font-family: 'Rubik', sans-serif;
}

@media (min-width: 1200psx) {
body {
    width: 90%;
    }
}

.pink {
    width: 50%;
    height: 33rem;
    background-color: hsl(276, 67%, 57%);
    border-bottom-right-radius:  100% 90%;
    margin-left: 0px;
}

@media (min-width: 1200px) {
.pink {
    width: 33%;
    height: 47rem;
    border-bottom-left-radius: 230px;
    border-bottom-right-radius: 230px;
    }
}

@media (min-width: 1200px) {
.gray {
    width: 30%;
    height: 55rem;
    background-color: #ede5f4;
    margin-right: 0px;
    margin-left: 79rem;
    margin-top: -38rem;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    z-index: 6;
    }
}

h1 {
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
    margin-top: 3.8rem;
    margin-bottom: 1.7rem;
}

@media (min-width: 1200px) {
h1 {
    text-align: left;
    font-size: 3rem;
    font-weight: 500;
    }
}

h2 {
    width: 50%;
    font-size: .7rem;
}

h3 {
    color: white;
    font-size: .8rem;
    font-weight: 500;
    margin-left: .9rem;
}

h4 {
    color: white;
    background-color: black;
    border-radius: 50%;
    padding-top: .2rem;
    padding-right: .5rem;
    padding-bottom: .2rem;
    padding-left: .5rem;
}

.mainContainer {
    width: 70%;
    height: 34rem;
    display: block;
    margin: auto;
    margin-top: -28.5rem;
    margin-bottom: 2rem;
    background-color: white;
    z-index: 20;
    border-top-left-radius: 10% 5%;
    border-top-right-radius: 10% 5%;
    border-bottom-left-radius: 10% 5%;
    border-bottom-right-radius: 10% 5%;
}

@media (min-width: 1200px) {
.mainContainer {
    width: 18%;
    margin-top: -38rem;
    margin-left: 26rem;
    height: 34rem;
    }
}

.secondContainer {
    display: inline-block;
    width: 90%;
    margin: auto;
    margin-top: 13px;
    margin-left: 5%;
    margin-bottom: 5rem;
    background-color: hsl(270, 20%, 96%);
    z-index: 2;
    border-top-left-radius: 10% 5%;
    border-top-right-radius: 10% 5%;
    border-bottom-left-radius: 10% 5%;
    border-bottom-right-radius: 10% 5%;
}

.whiteFrame {
    position: absolute;
    width: 35%;
    height: 15px;
    margin: auto;
    margin-top: -.6rem;
    margin-left: 3.2rem;
    margin-bottom: 4rem;
    background-color: white;
    border-top-left-radius: 30% 170%;
    border-top-right-radius: 30% 170%;
    border-bottom-left-radius: 30% 170%;
    border-bottom-right-radius: 30% 170%;
    padding: .95rem;
    z-index: 500;
}

@media (min-width: 1200px) {
.whiteFrame {
    width: 10%;
    margin-left: 2.85rem;
    }
}

.secondTop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background-image:linear-gradient(to right, hsl(276, 55%, 52%), hsl(293, 100%, 63%));
    border-top-left-radius: 10% 45%;
    border-top-right-radius: 10% 45%;
    padding: .7rem;
    margin-top: 0rem;
}

.secondTop a {
    text-decoration: none;
    color: white;
    margin-bottom: .3rem;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .2rem;
}

@media (min-width: 1200px) {
.name {
    width: 100%;
    }
}

.name h2 {
    width: fit-content;
    color: white;
    font-size: .7rem;
    font-weight: 300;
    opacity: 0.8;
}

@media (min-width: 1200px) {
.name h2 {
    width: 90%;
    font-size: .9rem;
    color: hsl(276, 100%, 81%);
    font-size: .5rem;
    }
}

.name p {
    color: hsl(276, 100%, 81%);
    font-size: .5rem;
}

.topPictureName {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: .5rem;
    margin-top: 1.5rem;
    margin-bottom: 0px;
}

.topPictureName img {
    width: 12%;
    height: 12%;
    border: 1px solid rgb(224, 218, 218);
    border-radius: 50%;
}

.threeDots p {
    color: white;
    font-size: 1rem;
    margin-bottom: .17rem;
    margin-left: 4.8rem;
}

.text1 {
    width: 58%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin-top: .8em;
    margin-bottom: 1rem;
    margin-left: .55rem;
}

.text1 p {
    width: 95%;
    font-size: .5rem;
    font-weight: 500;
    color:hsl(276, 55%, 52%);
    background-color: #ede5f4;
    line-height: .7rem;
    padding: .4rem;
    border-radius: 10% 10%;
}

.dogsPictures {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: .5rem;
    margin-right: .6rem;
    margin-bottom: .5rem;
}

.dogsPictures img {
    width: 17%;
    height: 17%;
    border-radius: 18% 18%;
}

.text2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: .6rem;
    margin-bottom: 1.2rem;
}

.text2Here {
    width: 55%;
    font-size: .5rem;
    font-weight: 500;
    color: black;
    background-color: white;
    line-height: .7rem;
    padding: .4rem;
    border-radius: 10% 10%;
    margin-right: .6rem;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.text2Can {
    font-size: .5rem;
    font-weight: 500;
    color: black;
    background-color: white;
    line-height: .7rem;
    padding: .5rem;
    border-radius: 10% 10%;
    margin-right: .6rem;
    border-top-left-radius:100px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 100px;
}

.thirdDivBottom {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    margin-left: .7rem;
    margin-bottom: 1rem;
}

.firstP p {
    width: 60%;
    font-size: .5rem;
    font-weight: 500;
    color:hsl(276, 55%, 52%);
    background-color: #ede5f4;
    line-height: .7rem;
    padding: .5rem;
    border-radius: 10% 10%;
}

@media (min-width: 1200px) {
.firstP p {
    width: 62%;
    }
}

.thirtyMinutes {
    width: 72%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .1rem;
    background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(276, 55%, 52%));
    border-top-left-radius: 5% 30%;
    border-top-right-radius: 5% 30%;
    border-bottom-right-radius: 5% 30%;
    border-bottom-left-radius: 5% 10%;
    margin-left: .1rem;
    padding: .3rem;
}

.thirtyMinutes p {
    width: 50%;
    font-size: .45rem;
    font-weight: 400;
    color: white !important;
    opacity: .6;
    margin-bottom: 0rem !important;
    padding: .5rem;
    border-radius: 50% 50%;
}


.oneHour {
    width: 72%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .1rem;
    background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(276, 55%, 52%));
    border-top-left-radius: 5% 30%;
    border-top-right-radius: 5% 30%;
    border-bottom-right-radius: 5% 30%;
    border-bottom-left-radius: 5% 10%;
    margin-left: .1rem;
    padding: .4rem;
}

.oneHour p {
    width: 40%;
    font-size: .45rem;
    font-weight: 400;
    opacity: .6;
    color: white !important;
    margin-bottom: 0rem !important;
    padding: .4rem;
    border-radius: 50% 50%;
}

.oneHour h3 {
    margin-left: 1.8rem;
}

.circle {
    width: .7rem;
    height: .7rem;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: .4rem;
}

.typeaMessage {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: hsl(269, 30%, 86%);
    padding: .45rem;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-left: 0.8rem;
    margin-bottom: .8rem;
}

.typeaMessage p {
    font-size: .6rem;
    margin-left: .3rem;
}

@media (min-width: 1200px) {
.textFooter {
    position: absolute;
    width: 42%;
    display: inline-block;
    margin-left: 50rem;
    margin-top: -30rem;
    z-index: 8;
    }
}

.textFooter h2 {
    width: 85%;
    margin: auto;
    font-size: 1rem;
    font-weight: 200;
    word-spacing: .07rem;
    line-height: 1.8rem;
    text-align: center;
    color: rgb(173, 171, 171);
    margin-bottom: 2rem;
}

@media (min-width: 1200px) {
.textFooter h2 {
    width: 90%;
    font-size: 1.2rem;
    text-align: left;
    margin-left: 0px;
    line-height: 2.2rem;
    }
}

.attribution {
    display: block;
    margin: auto;
    text-align: center;
    font-size: .7rem;
}

@media (min-width: 1200px) {
.attribution {
    display: block;
    margin: auto;
    font-size: 1rem;
    margin-top: -8rem;
    }
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: .7rem;
}

@media (min-width: 1200px) {
.attribution a {
    font-size: 1rem;
    }
}